USE [master]
GO
/****** Object:  Database [Bank]    Script Date: 11/11/2025 3:56:32 PM ******/
CREATE DATABASE [Bank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'B', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\B.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ),
( NAME = N'bank', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bank.ndf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'B_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\B_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bank]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 11/11/2025 3:56:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccoutNumber] [varchar](50) NOT NULL,
	[pincode] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[AccountBalace] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 11/11/2025 3:56:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Country] [nvarchar](20) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Rate] [decimal](10, 4) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogData]    Script Date: 11/11/2025 3:56:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DataTime] [datetime] NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_LogData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/11/2025 3:56:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Permitions] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ID], [AccoutNumber], [pincode], [FirstName], [LastName], [Phone], [Email], [AccountBalace]) VALUES (4031, N'A001', N'1234', N'Ahmed', N'Ali', N'4567345676776', N'ahmad@.com', 5006)
INSERT [dbo].[Client] ([ID], [AccoutNumber], [pincode], [FirstName], [LastName], [Phone], [Email], [AccountBalace]) VALUES (4032, N'A002', N'4444', N'Sarah', N'Hassan', N'4112453456677', N'Shr@.com', 12357)
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([ID], [Country], [Code], [Name], [Rate]) VALUES (2, N'Canada', N'CAD', N'Canadian Dollar', CAST(1.0000 AS Decimal(10, 4)))
INSERT [dbo].[Country] ([ID], [Country], [Code], [Name], [Rate]) VALUES (3, N'France', N'EUR', N'Euro', CAST(5.0000 AS Decimal(10, 4)))
INSERT [dbo].[Country] ([ID], [Country], [Code], [Name], [Rate]) VALUES (4, N'China', N'CNY', N'Chinese Yuan', CAST(6.0000 AS Decimal(10, 4)))
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[LogData] ON 

INSERT [dbo].[LogData] ([ID], [DataTime], [UserID]) VALUES (10, CAST(N'2025-01-28T06:32:59.527' AS DateTime), 3008)
INSERT [dbo].[LogData] ([ID], [DataTime], [UserID]) VALUES (11, CAST(N'2025-01-28T06:36:07.027' AS DateTime), 3008)
INSERT [dbo].[LogData] ([ID], [DataTime], [UserID]) VALUES (12, CAST(N'2025-01-28T06:47:08.797' AS DateTime), 3008)
GO
SET IDENTITY_INSERT [dbo].[LogData] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [UserName], [FirstName], [LastName], [Phone], [Password], [Permitions]) VALUES (3008, N'User1', N'Randa', N'Mohammed', N'124555345676', N'12345', -1)
INSERT [dbo].[Users] ([ID], [UserName], [FirstName], [LastName], [Phone], [Password], [Permitions]) VALUES (3012, N'User2', N'Lina', N'Saeed', N'234567567856', N'88888', -1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[LogData]  WITH CHECK ADD  CONSTRAINT [FK_LogData_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[LogData] CHECK CONSTRAINT [FK_LogData_Users]
GO
USE [master]
GO
